
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginPanel</title>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/twitter-bootstrap/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/twitter-bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" />


    <style>

        body {
            background-image: url('/404.jpg');
            background-attachment: fixed;
            background-size:cover;
        }


    </style>
</head>

<body>



     <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
      <div class="modal-dialog" role="document">
                <div class="modal-content rounded-4 shadow">
                    <div class="modal-header p-5 pb-4 border-bottom-0   text-center">
            <h1 class="fw-bold mb-0 fs-2">Görünüşe Göre Kayıp Olmuşsunuz </h1></h1>

          </div>
          <div class="modal-body p-5 pt-0" style="justify-content:center; text-align:center;">

                    <h2>Login Sayfasına Gitmek İçin Linke Tıklayın</h2>
  <br />
             <a  href="/Login/LoginPanel" class="btn btn-info">Buraya</a>


          </div>
        </div>
      </div>
    </div>

    }







</body>



</html>
