@using EntityLayer.Concrete

@model List<Daire>
@{
    ViewData["Title"] = "AdminDaire";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2 >Daire İşlemleri</h2>
<br />
<h4>Düzenlemek İstediğiniz Daireyi Seçiniz veya Yenisi Ekleyiniz</h4>



<div class="p-2" id="tableSırala">
</div>

<a href="@Url.Action("SiteSecimi", "DaireIslemleri")" class="btn btn-outline-success">Ekle</a>

              

@section Scripts{
                
<script>
    
        $(document).ready(function () {
            let mainCategory = "Daire";
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "GET",
                url: "/Admin/ListUser/",
                data: { MainCategory: mainCategory },
                success: function (data) {
                    console.log(data);
                    let htmlst = "<table class='table table-bordered'> <tr>  <th>Site İsmi </th>  <th>Blok İsmi </th> <th>Daire Numarası </th><th> Kat Numarası</th><th> Extra Bilgi </th><th> Sil </th><th> Düzenle </th>";
                    $.each(JSON.parse(data), (index, value) => {
                        htmlst += `<tr> <td>${value.SiteName} </td> <td>${value.BlockName} </td> <td>${value.DaireNo} </td> <td>${value.KatNumarası} </td> <td>${value.ExtraInformation} </td>  <td><a href="/DaireIslemleri/DaireSil/${value.DaireID}" class="btn btn-outline-danger" onclick="showConfirmDialog(event)">Sil</a></td> <td><a href="/DaireIslemleri/DaireDuzenle/${value.DaireID}" class="btn btn-outline-primary">Düzenle</a></td>  </tr>`;
                    });
                    htmlst += "</table>";
                    $("#tableSırala").html(htmlst);
                }
            });

        });
        

 

</script>
                
 }  