
@{
    ViewData["Title"] = "YoneticiPanel";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>   Yönetici Panelindesiniz</h1>





<div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
  <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0   ">



               
                <ol >
                    
                    <p class="font-monospace">  Bu panelde sizleri İki şey karşılamaktadır </p>
              
                        <li> Site Modülü   </li> 

                        Bu bölüm ile birlikte  yeni site ekleme, düzenleme, silme, filtreleme işlemleri,
					sitenizin ad, il, adres, ısınma türü bilgileriniz kayıt altına alınacaktır. Daha sonra sırasıyla Blok ve Daire bilgileriniz istenecektir.


                         <li> User Modülü   </li> 

                      Bu bölüm ile birlikte  yeni user ekleme, düzenleme, silme yer alacaktır. 

   

                    </ol>
                  
					
        
	

      </div>
      <div class="modal-body p-5 pt-0">
        
      </div>
    </div>
  </div>
</div>

